* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
}

.container {
  max-width: 450px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.input-section input:focus {
  border-color: #6c63ff;
  outline: none;
}

.input-section button {
  padding: 10px 18px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.input-section button:hover {
  background: #584dfa;
}

.todo-list {
  list-style: none;
  margin-top: 15px;
}

.todo-item {
  /*background: #f7f7f7;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  color: #333;
  */border-left: 4px solid #6c63ff;
  display: flex;
  justify-content: space-between; /* task left, button right */
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}
.delete-btn {
 /* align-items: right;
  margin-left: 10px;*/
   border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.delete-btn:hover {
  transform: scale(1.2);
}
.task-message {
  color: green;
  font-size: 14px;
}


